In [1]:
import pandas as pd

In [2]:
problem_desc = pd.read_json("/data/tir/projects/tir6/general/vveerend/improving-code-efficiency/shared/data/problem_description.jsonl",orient='records',lines=True)

In [3]:
problem_desc

     problem_id                                problem_description
0        p00000  Problem Name: QQ\nProblem Description: Write a...
1        p00001  Problem Name: List of Top 3 Hills\nProblem Des...
2        p00002  Problem Name: Digit Number\nProblem Descriptio...
3        p00003  Problem Name: Is it a Right Triangle?\nProblem...
4        p00004  Problem Name: Simultaneous Equation\nProblem D...
...         ...                                                ...
3994     p04048  Problem Description: Score : 500 points\nProbl...
3995     p04049  Problem Description: Score : 600 points\nProbl...
3996     p04050  Problem Description: Score : 1000 points\nProb...
3997     p04051  Problem Description: Score : 1400 points\nProb...
3998     p04052  Problem Description: Score : 2000 points\nProb...

[3999 rows x 2 columns]

In [4]:
trajectories = pd.read_json('/data/tir/projects/tir6/general/swaghjal/trajectories_per_id_filtered_lt_100.jsonl',orient='records',lines=True)

In [6]:
uniques = trajectories['problem_id'].unique()

In [8]:
len(uniques)

1933

In [9]:
filtered_df = problem_desc[problem_desc['problem_id'].isin(uniques)]

In [10]:
filtered_df

     problem_id                                problem_description
23       p00023  Problem Name: Circles Intersection\nProblem De...
26       p00026  Problem Name: Dropping Ink\nProblem Descriptio...
34       p00034  Problem Name: Railway Lines\nProblem Descripti...
35       p00035  Problem Name: Convex?\nProblem Description: Cr...
36       p00036  Problem Name: 2D Shapes on a Plane\nProblem De...
...         ...                                                ...
3987     p04041  Problem Description: Score : 700 points\nProbl...
3995     p04049  Problem Description: Score : 600 points\nProbl...
3996     p04050  Problem Description: Score : 1000 points\nProb...
3997     p04051  Problem Description: Score : 1400 points\nProb...
3998     p04052  Problem Description: Score : 2000 points\nProb...

[1906 rows x 2 columns]

In [ ]:
# not_avai = problem_desc[problem_desc['problem_id'].isin(uniques)]

In [11]:
filtered_df.to_json('/data/tir/projects/tir6/general/swaghjal/nl_prob_desc_per_id_filtered_lt_100.jsonl',orient='records',lines=True)